<div class="dashboard-container container">
  <div class="container row"><%= link_to 'Yours Events',event_path %></div>
  <div class="container row"><%= link_to 'Invite friends',invitations_path %></div>
  <div class="container row"><%= link_to 'Invited Events','#' %></div>
</div>