<div class="attendance-form container">
  <label for="">Select Event</label> <br>
  <select>
    <% get_events.each do |item| %>
        <option value="<%= item %>"> <%= item %> </option>
    <% end %>
  </select>
  <br>
  <label for="">Friends</label><br>
  <%= render 'shared/users_to_invite' %>
</div>