<div class="container">
  <label for="">Select Event</label>
  <select name="" id="">
    <option value="example@mail.com">Metal Concert</option>
  </select>
  <label for="">Friends</label>
  <select name="" id="">
    <option value="example@mail.com">example@mail.com</option>
  </select>
  <searchbox></searchbox>
  <input type="button" value="Invite Friend">
</div>