table,tr,td,th{
  border: 1px solid red;
  margin: 2px;
  color: white;
}
tr{
  align-text:center;
}
td,tr,th{
  padding: 10px;
  margin: 10px;
}
body{
  background-image: url('network');
  position: fixed;
}

.contenedor{
  background-color: red;
  width: 100%;
  height: 100px;
}
.body-container{
  margin-top: 8%;
}
.login-container{
  background-color: darkblue;
  margin-top: 8%;
}

.home-container{
  background-color: blue;
  color: white;
  margin-top: 7%;
}
.alert {
  margin-top: 8%;
}
#welcome-container{
  color:white;
  text-align: left;
}
#creators-container a{
  color: white;
}