body{
  background-image: url('network');
  position: fixed;
}

.contenedor{
  background-color: red;
  width: 100%;
  height: 100px;
}
.body-container{
  margin-top: 8%;
}
.login-container{
  background-color: darkblue;
  margin-top: 8%;
}

.home-container{
  background-color: blue;
  color: white;
  margin-top: 7%;
}
.alert {
  margin-top: 8%;
}