<h1>Attendances#create</h1>
<p>Find me in app/views/attendances/create.html.erb</p>

Soy los params
<%= %>
<%  chek_users_invite.each do |mail| %>
                <h1><%= mail %></h1> <br>
          <% end%>

<br>