<h1>Attendances#create</h1>
<p>Find me in app/views/attendances/create.html.erb</p>

Soy los params
<h1>Yo soy el usuario logueado:<%= @user.name %> , ID: <%= @user.id %></h1>
<%  check_users_invite.each do |mail| %>
                <span><%= mail %></span> ,
          <% end%>

<br>

    <h1>Soy el Evento ID: <%=  check_event_invite %> </h1> <br>
